<section>
  <form action="/accounts/deposit" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Deposit Amount</label>
      <input
        required
        type="number"
        class="form-control"
        id="depositAmount"
        aria-describedby="deposit-amount"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
