<div class="">
    <section class="d-grid col-12 px-2 py-4 justify-content-center align-items-center">
        <div class="col-md-6 col-sm-12">
            <H1>Welcome to Kindom bank</H1>
            <p>With you every step of the way</p>
            <p>More Than  Just Banking</p>
        </div>
        <div>
            <img src="images/payments.svg" alt="" srcset="">
        </div>
    </section>
</div>