<div class="container">
    <section class="row">
        <div class="col ">
            <H1 class="display-3 fw-bold mb-3">Welcome to Kindom bank</H1>
            <p class="lead mb-5">With you every step of the way, More Than  Just Banking</p>

            <div class="d-grid gap-2 d-sm-flex">
                <a href='/deposit'class="btn btn-primary btn-lg px-4 gap-3">Deposit</a>
                <a href='/transfer' class="btn btn-light  btn-lg px-4">Transfer</a>
            </div>
        </div>
        <div class="col">
            <img src="images/payments.svg" alt="" srcset="" class="img-fluid mb-4">
        </div>
    </section>
</div>